body{
background-image: url(https://i.pinimg.com/736x/38/77/c3/3877c333bb4979df4a4b3743fde7ec14.jpg);
}
#minombre{
    color: #000000;
}
#navbarNav{
    background-color: aqua;
}

#desc{
    color: aliceblue;
}